<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
 <!--内部样式表-->
   <style>
    body{background:#f6f6f6;}
    .main-content {background: #ffffff;}
    .site-footer {background-color:#2F2F2F;}
   </style>
  <title>ww博客</title>
  </head>
  <body>
   <h4 id="日记---网址---书签---github---博客" class="main-content" style="
    background: #FD6440; margin-top: 0px;">
   <a href="/" style="color: #ffffff;">首页</a> 
   <a href="./log" style="color: #ffffff;">日记</a>   
   <a href="./web" style="color: #ffffff;">网址</a>   
   <a href="/bookmarks_2019_11_18.html" style="color: #ffffff;">书签</a>   
   <a href="https://github.com/wyywee/wyywee.github.io?files=1" style="color: #ffffff;">github</a>
   <a href="./blog" style="color: #ffffff;">博客</a> 
   </h4>

    

   <main id="content" class="main-content" role="main" >
     {{ content }}
   </main>
   <footer class="main-content"  style="background-color: #2F2F2F;" >
     <span style="color: #ffffff;">网址： <a href="https://www.bilibili.com" style="color: #ffffff;">bilibili</a>.</span>
   </footer>
  </body>
</html>
